<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CleanCopy">
        <activity android:name=".ShareReceiverActivity" android:exported="false" />

        <activity-alias
            android:name=".ShareMediaActivity"
            android:exported="true"
            android:label="@string/share_clean_media"
            android:targetActivity=".ShareReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ShareUrlActivity"
            android:exported="true"
            android:label="@string/share_clean_url"
            android:targetActivity=".ShareReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/uri-list" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CleanMediaActivity"
            android:exported="false" />

        <activity
            android:name=".CleanCopyTilePreferencesActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CleanClipboardActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/Theme.CleanCopy.Transparent"
            android:exported="false" />

        <service
            android:name=".ClipboardLinkService"
            android:exported="false" />

        <service
            android:name=".clipboard.CleanCopyDefaultTileService"
            android:exported="true"
            android:icon="@drawable/ic_clean_copy_mark"
            android:label="@string/tile_cleancopy"
            android:settingsActivity=".CleanCopyTilePreferencesActivity"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
